<div class="panier">

    <div class="panier-header">
        <h3>Panier</h3>
        
        <mat-icon (click)="onClose()">
            close
        </mat-icon>
    </div>

    <div class="panier-list" *ngIf="panier">
        <shared-priced-item-list *ngIf="panier.platsChauds" type="plat" [items]="panier.platsChauds" [actions]="actions"></shared-priced-item-list>
        <shared-priced-item-list *ngIf="panier.sandwiches" type="sandwich" [items]="panier.sandwiches" [actions]="actions"></shared-priced-item-list>
        <shared-priced-item-list *ngIf="panier.boissons" type="boisson" [items]="panier.boissons" [actions]="actions"></shared-priced-item-list>
    </div>

    <div>
        <div class="total-container">
            <div>
                <p>total</p>
            </div>
            <div>
                <p class="total">{{ total | currency:'EUR' }}</p>
            </div>
        </div>

        <ng-container *ngIf="!isConnected(); else confirmActive">
            <p class="injonction">Connectez-vous pour pouvoir commander</p>
            <button mat-raised-button class="confirm-btn" routerLink="login" (click)="onClose()">
                se connecter
            </button>
            
            <button mat-raised-button class="confirm-btn" routerLink="register" (click)="onClose()">
                s'enregistrer
            </button>
        </ng-container>
        

        <ng-template #confirmActive>
            <p class="injonction" *ngIf="total <= 0">ajouter des items au panier pour commander</p>
            <button mat-raised-button class="confirm-btn" (click)="confirm()" [disabled]="total <= 0">
                confirmer
            </button>
        </ng-template>
        
    </div>
</div>